/* Add your CSS Below */

.itemRelative {
    position: relative;
    bottom: 20px;
    left: 20px;
}

.itemAbsolute {
    position: absolute;
    top: 0px;
    left: 100px;
}

.itemFixed {
    position: fixed;
    bottom: 87px;
    right: 132px;
}

.two {
    position: relative;
}